# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

#do not upload install exe
Install_Tool/x86/file/OpenVPN/bin/SecurityGateway.exe
Install_Tool/x86/无线网关安装包/Media/winxp_win7_32/Package/*
Install_Tool/x86/无线网关安装包/Media/winxp_win7_32/Package/*.txt


Install_Tool/x64/file/OpenVPN/bin/SecurityGateway.exe
Install_Tool/x64/无线网关安装包/Media/win7_64/Package/*
Install_Tool/x64/无线网关安装包/Media/win7_64/Package/*.txt

